*{
	margin: 0;
	padding:0;
	box-sizing: border-box;

}



body {
    background: white;
    background-color: #F6EDFF;
    color: #4A4369;
    font-size: 12px;
    font-family: "Raleway", Georgia, sans-serif;
    font-weight: 600;
}
img{
	display: block;
	width: 100%;
}
#logo{
	width: 200px;
}
.navlink{
	width: 16.667%;
	font-size: 16px;
	display: block; 
	float: left; 
	color: #4A4369;
	text-decoration: none;
	text-align: center;
	padding-bottom: 10px; 
}
.button{
	width:10%;
}
#hero{
	position: relative;
	height: 41.25vw;
	overflow: hidden;
}
#hero img{
	-webkit-filter: grayscale(1);
    filter: grayscale(1);
    -webkit-transition: all 1s ease-in-out;
  	-moz-transition: all 1s ease-in-out;
 	-o-transition: all 1s ease-in-out;
  	transition: all 1s ease-in-out;
}
#hero:hover img{
	-webkit-filter: grayscale(0);
    filter: grayscale(0);
}
#herocontent{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: #3D3245;
}
#herocontent h2{
	padding: 20px;
	border-color: white; 
	text-align: center;
	font-size: 44px;
	font-weight: 400;
}
#herocontent h3{
	padding-bottom: 20px;
	text-align: center;
	font-size: 22px;
}
#herocontent a{
	display: block; 
	text-align: center;
	font-size: 18px;
	padding: 10px;
	border-radius: 5px;
	width: 147px;
	margin: 0 auto; 
	background: #4A4369;
	color: white;
	text-decoration: none;
}
.block{
	position: relative;
	font size: 34px;
	width: 33.33%;
	padding-top: 20px;
	padding-left:10px;
	padding-right: 10px;
	display: block;
	float: left;
	text-align: center;
	font-weight: 400;
}
.insideblock:before{
	content:"";
	width:100%;
	height:100%;
	position:absolute;
	top:0%;
	left:0%;
	background-color: rgba(0, 0, 0, 0.25);
}
.insideblock{
	position:relative;
}
.block figcaption{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	text-align: center;
	font-size: 44px;
	transform: translate(-50%,-50%);
}
.block figcaption p{	
	font-size: 18px;
	font-weight: bold;
	padding-top: 10px;
	padding-left:15px;
	padding-right: 15px;
}
#footer{
	padding-bottom: 10px;
	padding-top: 50px;
	padding-left:10px;
	padding-right: 10px;
	font-size: 12px;
	text-align: center;
}
#footer a{
	display: inline-block;
	padding: 5px;
	font-size: 18px;
}
.clearfix:after{
	content:"";
	display: block;
	clear: both;
}
@media screen and (max-width:768px){
	.navlink {
		width: 100%;
	}
	}
@media screen and (max-width:750px){
	#herocontent h2{
		font-size: 30px;
	}
	#herocontent h3{
		font-size: 18px;
	}
	#herocontent h4{
		font-size: 14px;
	}
	#herocontent a{
		font-size: 13px;
	}	
	}
@media screen and (max-width:470px){
	#herocontent h2{
		display: none;
	}
	#herocontent h3{
		display: none;
	}
	}
@media screen and (max-width:920px){
	.block figcaption{
		width: 100%;
	}
@media screen and (max-width:920px){
	.block figcaption {
		font-size: 30px;
	}
	}
@media screen and (max-width:660px){
	.block figcaption {
		font-size: 22px;
	}
@media screen and (max-width:470px){
	.block figcaption {
		font-size: 13px;
	}
	}
@media screen and (max-width:470px){
	#footer{
		font-size: 7px;
	}
	}	