*{
	margin: 0;
	padding:0;
	box-sizing: border-box;

}



body {
    background: white;
    background-color: #B4A3FF;
    color: #4A4369;
    font-size: 12px;
    font-family: "Raleway", Georgia, sans-serif;
    font-weight: 400;
}
img{
	display: block;
	width: 100%;
}
#logo{
	width: 200px;
}
.navlink{
	width: 16.667%;
	display: block; 
	float: left; 
	color: #4A4369;
	text-decoration: none;
	text-align: center;
}
#hero{
	position: relative;
}
#herocontent{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.block{
	width: 33.33%;
	display: block;
	float: left;
	text-align: center;
}

.clearfix:after{
	content:"";
	display: block;
	clear: both;
}